.topNavIcon{
    text-align: center;
   display: block;
   vertical-align:middle;
   padding:20rem;
   

    
}
    
p {
    display: none;
    background-color: yellow;
    padding: 20px;
}
.topNavIcon:hover p {
    display: block;
}